/bin/Debug/netstandard2.0/ClrZmq.dll
/bin/Debug/netstandard2.0/ClrZmq.pdb
/bin/Debug/netstandard2.0/HC.Core.Std.deps.json
/bin/Debug/netstandard2.0/HC.Core.Std.dll
/bin/Debug/netstandard2.0/HC.Core.Std.dll.config
/bin/Debug/netstandard2.0/HC.Core.Std.pdb
/bin/Debug/netstandard2.0/HC.Core.deps.json
/bin/Debug/netstandard2.0/HC.Core.dll
/bin/Debug/netstandard2.0/HC.Core.dll.config
/bin/Debug/netstandard2.0/HC.Core.pdb
/bin/Debug/netstandard2.0/SQLite.Interop.dll
/bin/Debug/netstandard2.0/libzmq.dll
/bin/Release/netstandard2.0/ClrZmq.dll
/bin/Release/netstandard2.0/ClrZmq.pdb
/bin/Release/netstandard2.0/HC.Core.Std.deps.json
/bin/Release/netstandard2.0/HC.Core.Std.dll
/bin/Release/netstandard2.0/HC.Core.Std.dll.config
/bin/Release/netstandard2.0/HC.Core.Std.pdb
/bin/Release/netstandard2.0/HC.Core.deps.json
/bin/Release/netstandard2.0/HC.Core.dll
/bin/Release/netstandard2.0/HC.Core.dll.config
/bin/Release/netstandard2.0/HC.Core.pdb
/bin/Release/netstandard2.0/SQLite.Interop.dll
/bin/Release/netstandard2.0/libzmq.dll
/obj/Debug/netstandard2.0/HC.Core.AssemblyInfo.cs
/obj/Debug/netstandard2.0/HC.Core.AssemblyInfoInputs.cache
/obj/Debug/netstandard2.0/HC.Core.assets.cache
/obj/Debug/netstandard2.0/HC.Core.csproj.CopyComplete
/obj/Debug/netstandard2.0/HC.Core.csproj.CoreCompileInputs.cache
/obj/Debug/netstandard2.0/HC.Core.csproj.FileListAbsolute.txt
/obj/Debug/netstandard2.0/HC.Core.csprojAssemblyReference.cache
/obj/Debug/netstandard2.0/HC.Core.dll
/obj/Debug/netstandard2.0/HC.Core.pdb
/obj/HC.Core.csproj.nuget.cache
/obj/HC.Core.csproj.nuget.g.props
/obj/HC.Core.csproj.nuget.g.targets
/obj/Release/netstandard2.0/HC.Core.AssemblyInfo.cs
/obj/Release/netstandard2.0/HC.Core.AssemblyInfoInputs.cache
/obj/Release/netstandard2.0/HC.Core.assets.cache
/obj/Release/netstandard2.0/HC.Core.csproj.CopyComplete
/obj/Release/netstandard2.0/HC.Core.csproj.CoreCompileInputs.cache
/obj/Release/netstandard2.0/HC.Core.csproj.FileListAbsolute.txt
/obj/Release/netstandard2.0/HC.Core.csprojAssemblyReference.cache
/obj/Release/netstandard2.0/HC.Core.dll
/obj/Release/netstandard2.0/HC.Core.pdb
/obj/project.assets.json
